<header class="header">
</header>

<nav class="nav">
  <ul class="nav-list group">
  <% if signed_in? %>
    <li class="nav-item">
      <form action="<%= session_url %>" method="post">
        <%= auth_token %>
        <input type="hidden" name="_method" value="DELETE">
        <button>Logout</button>
      </form>
    </li>
  <% else %>
    <li class="nav-item">
      <a href="<%= new_session_url %>">Login</a>
    </li>
  <% end %>
  </ul>
</nav>

<main class="content">
  <% if signed_in? %>
  <% else %>
    <h1>Sign Up</h1>
    <%= render "users/form", user: @user, cities: @cities %>
  <% end %>
</main>